#col1{
    background-color: blue;

}
#col2{
    background-color: blueviolet;    
}
#col3{
    background-color: brown;
    
}
#col4{
    background-color: black;
    color: aliceblue;
}